version: '3.8'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - app-network
    restart: always

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    depends_on:
      - nginx-proxy
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:rw
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - NGINX_PROXY_CONTAINER=nginx-proxy
    networks:
      - app-network
    restart: always

  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY}-frontend:latest
    container_name: ht-frontend
    restart: always
    environment:
      - VIRTUAL_HOST=${DOMAIN_NAME:-habit-tracker.duckdns.org}
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=${DOMAIN_NAME:-habit-tracker.duckdns.org}
      - LETSENCRYPT_EMAIL=${SSL_EMAIL:-admin@habit-tracker.duckdns.org}
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network

  backend:
    image: ghcr.io/${GITHUB_REPOSITORY}-backend:latest
    container_name: ht-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-habit_tracker}
      - DATABASE_URL=postgresql://${APP_USER:-habit_user}:${APP_PASSWORD:-habit_pass}@db:5432/${APP_DB:-habit_tracker}
      - SECRET_KEY=${SECRET_KEY}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
    depends_on:
      db:
        condition: service_healthy
      init-db:
        condition: service_completed_successfully
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/" ]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 40s

  init-db:
    image: postgres:15-alpine
    container_name: ht-init
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db-init.sh:/db-init.sh
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - APP_USER=${APP_USER:-habit_user}
      - APP_PASSWORD=${APP_PASSWORD:-habit_pass}
      - APP_DB=${APP_DB:-habit_tracker}
    command: [ "/bin/sh", "/db-init.sh" ]
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: ht-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  conf:
  vhost:
  html:
  dhparam:
  certs:
  acme:


networks:
  app-network:
    driver: bridge
